@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(#f58c8c,#3b9b8e);
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}

#root{
  width: 100%;
  background-color:#fff;
  border-radius: 10px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
